{{#emptyResourceCheck}}
    <div class="panel panel-white">
        {{#methods}}
            <div class="header">
                <h4>
                    <span class="badge badge_{{method}}">{{method}}{{lock securedBy}}</span>
                    <span class="parent">{{../parentUrl}}</span>{{../relativeUri}}
                </h4>
            </div>
            <div class="panel-body">
                <div class="alert alert-info">{{md description}}</div>

                <h3>Request</h3>
                <div>
                    {{#if ../allUriParameters}}
                        <h5>URI Parameters</h5>
                        <ul>
                            {{#each ../../allUriParameters}}
                                {{> item}}
                            {{/each}}
                        </ul>
                    {{/if}}

                    {{#if headers}}
                        <h5>Headers</h5>
                        <ul>
                            {{#each headers}}
                                {{> item}}
                            {{/each}}
                        </ul>
                    {{/if}}

                    {{#if queryParameters}}
                        <h5>Query Parameters</h5>
                        <ul>
                            {{#each queryParameters}}
                                {{> item}}
                            {{/each}}
                        </ul>
                    {{/if}}

                    {{#if body}}
                        {{#each body}}
                            <p>Type: <strong>{{@key}}</strong></p>
                            {{#if formParameters}}
                                <strong>Form Parameters</strong>
                                <ul>
                                    {{#each formParameters}}
                                        {{> item}}
                                    {{/each}}
                                </ul>
                            {{/if}}

                            {{#if this.schema}}
                                <p><strong>Body schema</strong>:</p>
                                <pre><code>{{this.schema}}</code></pre>
                            {{/if}}

                            {{#if this.example}}
                                <p>Example body:</p>
                                <pre><code>{{this.example}}</code></pre>
                            {{/if}}
                        {{/each}}
                    {{/if}}


                    {{#if responses}}
                        <h3>Response</h3>

                        <div id="{{../../uniqueId}}_{{method}}_response">
                            {{#each responses}}
                                <h4>HTTP status code <a href="http://httpstatus.es/{{@key}}"
                                                        target="_blank">{{@key}}</a></h4>
                                {{md this.description}}

                                {{#if this.headers}}
                                    <h5>Headers</h5>
                                    <ul>
                                        {{#each this.headers}}
                                            {{> item}}
                                        {{/each}}
                                    </ul>
                                {{/if}}

                                {{#if this.body}}
                                    {{#each this.body}}
                                        <p>Type: <strong>{{@key}}</strong></p>

                                        {{#if this.schema}}
                                            <p><strong>Body schema</strong>:</p>
                                            <pre><code>{{this.schema}}</code></pre>
                                        {{/if}}

                                        {{#if this.example}}
                                            <p>Example body:</p>
                                            <pre><code>{{this.example}}</code></pre>
                                        {{/if}}
                                    {{/each}}
                                {{/if}}
                            {{/each}}
                        </div>
                    {{/if}}
                </div>
            </div>
            <hr style="border: 1px solid #aaaaaa"/>
        {{/methods}}
    </div>
{{/emptyResourceCheck}}

{{#resources}}
    {{> resource}}
{{/resources}}
